body {
    background-color: #e9e9e9;
    font-family: Verdana, Arial;
    margin:auto;
    width:80%;
}


#titulo, .post__titulo, .subtitulo {
    color: rgb(43, 43, 43);
}

.minha-foto {
    border-radius:50%;
    border: 4px solid rgb(146, 177, 223);
    margin: 1rem auto 0 auto;
    display:block;
}

#titulo {
    font-size: 2rem;
    text-transform:uppercase;
    text-align:center;
    vertical-align:middle;
}

#titulo::after {
    content: '|';
    margin-left:0.5rem;
    animation: pisca 1s infinite;
}

a {
    text-decoration:underline;
    color:rgb(43, 43, 43);
}

.subtitulo {
    margin-left: 1rem;
}

.post__titulo {
    font-size: 16px;
    font-style:italic;
    margin:0;
    margin-bottom:1rem;
}

.post {
    background-color: #ffffff;
    padding:2rem;
    border:3px solid rgb(43, 43, 43);
    margin: 0 1rem 2rem 1rem;
    border-radius:5px;
}

.post__conteúdo {
    margin:0;
    margin-bottom:1rem;
    text-transform:capitalize;
    text-align:justify;
}

.post__imagem {
    margin-bottom:1rem;
    width:100%;
    border-radius:2rem;
}

.footer__contatos {
    display:flex;
    justify-content:center;
    list-style:none;
    margin:0 0 2rem 0;
}

.footer__contato {
    padding-right:1rem;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}